@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
    <nav>
        <h1 @onclick='() => navigationManager.NavigateTo("/")'>CuriousCrowd</h1>
        <div class="menuSection">
            <span style="display: block;">
                @currentTime.ToString("G", CultureInfo.CreateSpecificCulture("de-DE"))
            </span>
            <a href="/About">
                About Us
            </a>
        </div>
    </nav>

    <div class="main">
        @Body
    </div>
</div>


@code{
    private static Timer timer;
    private DateTime currentTime;

    protected override async Task OnInitializedAsync()
    {
        currentTime = DateProvider.CurrentSimulatedDate;

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += (sender, args) =>
        {
            currentTime = DateProvider.CurrentSimulatedDate;
            StateHasChanged();
        };
        timer.Enabled = true;
    }
}